.product-item {
  width: 280px;
  margin-bottom: 50px;
}

.product-item__card-wrapper {
  display: block;
  padding: 4px;

  background-image: linear-gradient(135deg, transparent 5.5%, #1698d9 5.5%);
  border-radius: 10px;
  cursor: pointer;
}

.product-item__card-wrapper--hovered {
  background-image: linear-gradient(135deg, transparent 5.5%, #2ea8e5 5.5%);
}

.product-item__card {
  position: relative;
  min-height: 472px;

  color: #000000;
  border-radius: 10px;
  overflow: hidden;

  background-image: linear-gradient(135deg, transparent 5.5%, #ffffff 5.5%);
}

.product-item__header {
  margin-top: 16px;
  margin-left: 45px;
}

.product-item__caption {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666666;
}

.product-item__caption--selected {
  color: #e62e7a;
}

.product-item__title {
  margin: 0;
  overflow-wrap: break-word;
  font-size: 48px;
}

.product-item__type {
  margin: 0;
  margin-bottom: 11px;

  font-size: 24px;
}

.product-item__info {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 45px;
  padding: 0;
  list-style: none;

  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.product-item__weight {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1698d9;
}

.product-item__card-wrapper--hovered .product-item__weight {
  background-color: #2ea8e5;
}

.product-item__weight-count {
  margin: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  color: #fff;
  line-height: 1;
}

.product-item__weight-measure {
  font-size: 21px;
}

.product-item__image {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: block;
}

.product-item__description {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.product-item__description--unavailable {
  color: #ffff66;
}

.product-item__buy {
  color: #1698d9;
  text-decoration-line: none;
  border-bottom: 1px dashed #1698d9;

  cursor: pointer;
}

.product-item__card-wrapper--hovered .product-item__buy {
  color: #2ea8e5;
}

/* disbled */
input[type="checkbox"]:disabled ~ .product-item__card-wrapper {
  background-image: linear-gradient(135deg, transparent 5.5%, #b3b3b3 5.5%);
}

input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__caption,
input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__title,
input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__type,
input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__info {
  color: #b3b3b3;
  opacity: 0.5;
}

input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__image {
  opacity: 0.5;
}

input[type="checkbox"]:disabled
  ~ .product-item__card-wrapper
  .product-item__weight {
  background-color: #b3b3b3;
}

/*  selected */
input[type="checkbox"]:checked ~ .product-item__card-wrapper {
  background-image: linear-gradient(135deg, transparent 5.5%, #d91667 5.5%);
}

input[type="checkbox"]:checked ~ .product-item__card-wrapper--hovered {
  background-image: linear-gradient(135deg, transparent 5.5%, #e52e7a 5.5%);
}

input[type="checkbox"]:checked
  ~ .product-item__card-wrapper
  .product-item__weight {
  background-color: #d91667;
}

input[type="checkbox"]:checked
  ~ .product-item__card-wrapper--hovered
  .product-item__weight {
  background-color: #e52e7a;
}

/*  focused */
input[type="checkbox"]:focus ~ .product-item__card-wrapper {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/*  hovered */

/* tablet */
@media (min-width: 768px) {
  .product-item {
    width: 320px;
  }

  .product-item:nth-child(3n) {
    margin: 0 calc((100% - 320px) / 2);
    margin-bottom: 50px;
  }
}
/* desktop */
@media (min-width: 1200px) {
  .product-item {
    margin-right: 80px;
  }

  .product-item:nth-child(3n) {
    margin: 0;
    margin-bottom: 50px;
  }
}
